## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
result=pow(7,4)
print(result)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
l=[]
s = "Hi there Sam!"
l=s.split()
print(l)

['Hi', 'there', 'Sam!']

In [ ]:
m=[]
s="Hi there dad!"
m=s.split()
print(m)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
ans="The diameter of {planet} is {diameter} kilometers.".format(planet="Earth", diameter= 12742)
print(ans)

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
Lists are mutable whereas tuples are immutable. Lists consume more memory whereas tuples consume less memory. 
Lists are enclosed with square brackets whereas tuples are enclosed with a paranthesis.
Eg:
    list, l=[10,20,30,40]
    tuple, t=(10,20,30,40)

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def grab(email):
    return email.split('@')[-1]

grab("user@domain.com")

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def true_or_false(str):
  s="dog"
  if s in str:
    print("True")
  else:
    print("False")

x=input("Enter a string:")
true_or_false(x)

Enter a string:he is dog
True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def countDog(st):
    count = 0
    s="dog"
    for word in st.lower().split():
        if word == s:
            count += 1
    return count
countDog('This dog is same as that dog .')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(96,False)

'Big Ticket'

In [ ]:
caught_speeding(63,False)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
emp_list=[80000,66000,40000,75000,50000]
for i in range(len(emp_list)):
  print(emp_list[i])
  sum = sum + emp_list[i]
print("Total Salary Expenditure:" , sum)

80000
66000
40000
75000
50000
Total Salary Expenditure: 361000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
d1={"empid":101,"empname":"Vijay","basicpay":80000}
d2={"deptname":"CSE","deptid":"2"}
d2.update(d1)
print(d2)

{'deptname': 'CSE', 'deptid': '2', 'empid': 101, 'empname': 'Vijay', 'basicpay': 80000}